.services {
  grid-column: full-start/full-end;
  color: #fff;
  padding: 10rem 5rem;
  background-color: #292929;
  background-image: linear-gradient(
      to bottom,
      rgb(17, 17, 17) 0%,
      rgb(17, 17, 17) 0.5%,
      rgba(0, 0, 0, 0.728) 3%,
      rgba(128, 128, 128, 0.59) 100%
    ),
    url('/static/img/merc3.jpg');  
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: $bp-smaller) {
    padding: 5rem 2rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (max-width: $bp-large) {
      gap: 7rem;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    color: #ffffff;

    @media only screen and (max-width: $bp-medium2) {
      flex-direction: column;
      justify-content: center;
    }

    &-start {
      justify-content: flex-end;
    }
    &-end {
      justify-content: flex-start;

      @media only screen and (max-width: $bp-medium2) {
        flex-direction: column-reverse;
      }
    }

    &-left {
      flex: 0 0 40rem;
      background-color: #ffffff;
      padding: 6rem 3rem;
      transform: translateX(40px);
      scroll-margin-top: 18rem;

      @media only screen and (max-width: $bp-large) {
        padding: 3rem 3rem;
      }

      @media only screen and (max-width: $bp-medium2) {
        transform: translate(0);
        flex: 0;
        max-width: 70%;
      }

      @media only screen and (max-width: $bp-smaller) {
        min-width: 100%;
        padding: 2rem;
        background-color: #e3e0e0;
      }

      h3 {
        font-size: 2.3rem;
        color: rgb(223, 30, 30);

        @media only screen and (max-width: $bp-large) {
          font-size: 2rem;
        }

        @media only screen and (max-width: $bp-smaller) {
          font-size: 1.7rem;
        }
      }
      p {
        margin-top: 2rem;
        line-height: 1.4;
        font-size: 1.8rem;
        color: #292929;

        @media only screen and (max-width: $bp-large) {
          font-size: 1.6rem;
          line-height: 1.6;
        }

        @media only screen and (max-width: $bp-smaller) {
          font-size: 1.4rem;
          color: #111;
        }
      }

      &--trans {
        transform: translateX(-40px);

        @media only screen and (max-width: $bp-medium2) {
          transform: translate(0);
        }
      }
    }

    &-photo {
      background-size: cover;
      background-position: center;
      flex: 0 1 40%;
      height: 40rem;

      @media only screen and (max-width: $bp-large) {
        height: 30rem;
      }

      @media only screen and (max-width: $bp-medium2) {
        flex: none;
        width: 35rem;
        height: 20rem;
      }

      @media only screen and (max-width: $bp-smaller) {
        width: 29rem;
      }

      &--1 {
        background-image: url(/static/img/lotnisko3.jpg);
      }
      &--2 {
        background-image: url(/static/img/biznes.jpeg);
        background-position: top;
      }
      &--3 {
        background-image: url(/static/img/door1.jpeg);
      }
      &--4 {
        background-image: url(/static/img/wycieczki.jpg);
        background-position: bottom;
      }
      &--5 {
        background-image: url(/static/img/prom.jpg);
      }
    }
  }
}
